{{#> main title="Admin"}}
	{{#*inline "head-block"}}
		<script defer src="/js/admin.js"></script>
	{{/inline}}

	<h1 class="title">Employers</h1>
	<h2 class="subtitle">Recruiters can be assigned to companies to view and collect resumes</h2>
	<section class="columns is-multiline">
		{{#each companies}}
			<div class="column is-one-half">
				<h1 class="title">{{this.name}}</h1>
				<p class="content">
					<ul>
						<li><strong>{{this.visits.length}}</strong> visits</li>
						<li><strong>{{this.users.length}}</strong> employee(s)</li>
						{{#each this.users}}
							<li class="single-line-button">
								<span class="icon"><i class="fas fa-user-tie"></i></span>
								<strong>{{formatName this.name}}</strong> ({{this.email}})&nbsp;&nbsp;|&nbsp;&nbsp;Scanner(s):
								{{#if this.company.scannerIDs.length}}
									<strong>{{join this.company.scannerIDs}}</strong>
								{{else}}
									<em>None</em>
								{{/if}}
								<button class="button is-link is-outlined set-scanner" data-company="{{../this.name}}"
										data-email="{{this.email}}" data-scanners="{{join this.company.scannerIDs}}">Scanners</button>
								<button class="button is-danger is-outlined remove-employee" data-company="{{../this.name}}" data-email="{{this.email}}">Remove</button>
							</li>
						{{else}}
							<li class="has-text-centered"><em>No users</em></li>
						{{/each}}
						{{#if this.pendingUsers.length}}
							<li><hr /></li>
						{{/if}}
						{{#each this.pendingUsers}}
							<li class="single-line-button">
								<span class="icon"><i class="fas fa-user-clock"></i></span>
								<strong>{{formatName this.name}}</strong> ({{this.email}})
								<button class="button is-success is-outlined confirm-employee" data-company="{{../this.name}}" data-email="{{this.email}}">Confirm</button>
							</li>
						{{/each}}
					</ul>
				</p>
				<br />
				<div class="field is-grouped is-grouped-centered is-multiline">
					<p class="control">
						<button class="button is-success is-outlined add-employee" data-company="{{this.name}}">Add employee</button>
					</p>
					<p class="control">
						<button class="button is-info is-outlined rename-company" data-company="{{this.name}}">Rename</button>
					</p>
					<p class="control">
						<button class="button is-danger is-outlined delete-company" data-company="{{this.name}}">Delete</button>
					</p>
				</div>
			</div>
		{{else}}
			<div class="column is-half is-offset-one-quarter has-text-centered">
				<p><em>No companies yet</em></p>
			</div>
		{{/each}}
	</section>

	<hr />

	<h1 class="title">Add a company</h1>
	<h2 class="subtitle">Organize recruiters into companies</h2>
	<section class="columns">
		<div class="column is-half is-offset-one-quarter">
			<div class="field">
				<label class="label" for="company-name">Company name</label>
				<div class="control">
					<input class="input" type="text" id="company-name" placeholder="HackGT Inc." />
				</div>
			</div>
			<br />
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<button class="button is-info is-outlined" id="add-company">Add company</button>
				</p>
			</div>
		</div>
	</section>

	{{!-- <hr />

	<h1 class="title">OAuth Scopes</h1>
	<h2 class="subtitle">Additional information users must enter before they can authorize an app</h2>
	<section class="columns is-multiline">
		{{#each scopes}}
			<div class="column is-one-third">
				<h1 class="title"><code>{{this.name}}</code></h1>
				<p class="content">
					<ul>
						<li>Question: <strong>{{this.question}}</strong></li>
						<li>Type: <code>{{this.type}}</code></li>
						{{#if this.icon}}
							<li>
								Icon:
								<span class="icon"><i class="fas fa-{{this.icon}}"></i></span>
							(<code>{{this.icon}}</code>)
							</li>
						{{else}}
							<li><em>No icon set</em></li>
						{{/if}}
						{{#if this.validator.code}}
							<li>Validator: <code>{{this.validator.code}}</code></li>
							<li>Error message: <strong>{{this.validator.errorMessage}}</strong></li>
						{{else}}
							<li><em>No validator configured</em></li>
						{{/if}}
					</ul>
				</p>
				<br />
				<div class="field is-grouped is-grouped-centered is-multiline">
					<p class="control">
						<button class="button is-danger is-outlined delete-scope" data-uuid="{{this.name}}">Delete</button>
					</p>
				</div>
			</div>
		{{else}}
			<div class="column is-half is-offset-one-quarter has-text-centered">
				<p><em>No scopes</em></p>
			</div>
		{{/each}}
	</section>

	<hr />

	<h1 class="title">Add a scope</h1>
	<h2 class="subtitle">This allows an application to collect additional information from its users</h2>
	<section class="columns">
		<div class="column is-half is-offset-one-quarter">
			<div class="field">
				<label class="label" for="scope-name">Scope name (should be lowercase and cannot contain spaces or commas)</label>
				<div class="control">
					<input class="input" type="text" id="scope-name" placeholder="e.g. phone" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-question">Scope question</label>
				<div class="control">
					<input class="input" type="text" id="scope-question" placeholder="e.g. What's your phone number?" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-type">Input type (<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Form_<input>_types" target="_blank">see complete list</a>)</label>
				<div class="control">
					<input class="input" type="text" id="scope-type" value="text" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-icon">Icon (optional; <a href="https://fontawesome.com/icons?d=gallery&s=solid" target="_blank">see complete list</a>)</label>
				<div class="control">
					<input class="input" type="text" id="scope-icon" />
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-validator">Validation code (optional)</label>
				<div class="control">
					<textarea class="textarea" id="scope-validator" placeholder="e.g. value === &quot;correct answer&quot;"></textarea>
				</div>
			</div>
			<div class="field">
				<label class="label" for="scope-error-message">Validation error message (optional)</label>
				<div class="control">
					<input class="input" type="text" id="scope-error-message" />
				</div>
			</div>
			<br />
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<button class="button is-info is-outlined" id="add-scope">Add scope</button>
				</p>
			</div>
		</div>
	</section>--}}

	<hr />

	<h1 class="title">Admins</h1>
	<h2 class="subtitle">The people who can access this page</h2>
	<section class="columns">
		<div class="column">
			<h1 class="title">Preconfigured</h1>
			<h2 class="subtitle">You can only change these in config.json or server environment variables</h2>
			<p>Email domains:</p>
			<ul>
				{{#each adminDomains}}
				<li>
					<span class="icon"><i class="fas fa-at"></i></span>
					<strong>{{this}}</strong>
				</li>
				{{else}}
				<li><em>None</em></li>
				{{/each}}
			</ul>
			<p>Specific emails:</p>
			<ul>
				{{#each admins}}
				<li>
					<span class="icon"><i class="fas fa-envelope"></i></span>
					<strong>{{this}}</strong>
				</li>
				{{else}}
				<li><em>None</em></li>
				{{/each}}
			</ul>
		</div>
		<div class="column">
			<h1 class="title">Current</h1>
			<h2 class="subtitle">Active users with admin privileges</h2>
			<ul>
				{{#each currentAdmins}}
				<li class="single-line-button">
					<span class="icon"><i class="fas fa-user-cog"></i></span>
					<strong>{{formatName this.name}}</strong> ({{this.email}})
					{{#ifCond this.uuid ../uuid}}{{else}}
						<button class="button is-danger is-outlined delete-admin" data-email="{{this.email}}">Demote</button>
					{{/ifCond}}
				</li>
				{{/each}}
			</ul>
		</div>
		<div class="column">
			<h1 class="title">New</h1>
			<h2 class="subtitle">Promote an existing user to gain admin privileges</h2>
			<div class="field">
				<label class="label" for="admin-email">Email</label>
				<div class="control">
					<input class="input" type="email" id="admin-email" placeholder="george.p@burdell.com">
				</div>
			</div>
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<button class="button is-primary is-outlined" id="admin-promote">Promote</button>
				</p>
			</div>
		</div>
	</section>

{{/main}}
