{{#> main title="Home"}}
	{{#*inline "head-block"}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
		<script src="/js/common.js"></script>
		<script defer src="/js/employer.js"></script>
	{{/inline}}

	<nav class="tabs is-fullwidth is-toggle is-toggle-rounded">
		<ul>
			<li class="is-active" id="scanning-tab">
				<a>
					<span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
					<span>Information</span>
				</a>
			</li>
			<li id="search-tab">
				<a>
					<span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
					<span>Search</span>
				</a>
			</li>
			<li id="settings-tab">
				<a>
					<span class="icon is-small"><i class="fas fa-sliders-h" aria-hidden="true"></i></span>
					<span>Settings</span>
				</a>
			</li>
		</ul>
	</nav>
	<template id="table-row">
		<tr>
			<td id="select">
				<input type="checkbox" class="participant-selection" />
			</td>
			<td id="time"></td>
			<td class="name-link" id="name"></td>
			<td id="major"></td>
			<td id="links">
				<div class="field has-addons">
					<p class="control">
						<a class="button is-medium github tooltip" href="" target="_blank" data-tooltip="GitHub profile">
							<span class="icon">
								<i class="fab fa-github"></i>
							</span>
						</a>
					</p>
					{{!-- <p class="control">
						<a class="button is-medium website tooltip" href="" target="_blank" data-tooltip="Personal website">
							<span class="icon">
								<i class="fas fa-globe-americas"></i>
							</span>
						</a>
					</p> --}}
				</div>
			</td>
			<td class="tags-column">
				<div id="tags" class="field is-grouped is-grouped-multiline"></div>
			</td>
			<td id="actions">
				<button class="button tooltip add-action" data-tooltip="Add to visited list">
					<span class="icon">
						<i class="fas fa-plus"></i>
					</span>
				</button>
				<button class="button tooltip star-action" data-tooltip="Star">
					<span class="icon">
						<i class="fas fa-star"></i>
					</span>
				</button>
				<button class="button tooltip flag-action" data-tooltip="Flag">
					<span class="icon">
						<i class="fas fa-flag"></i>
					</span>
				</button>
				<button class="button tooltip tag-action" data-tooltip="Add a tag">
					<span class="icon">
						<i class="fas fa-tag"></i>
					</span>
				</button>
				<button class="button view-action">
					<span>View / Edit</span>
					<span class="icon">
						<i class="fas fa-external-link-alt"></i>
					</span>
				</button>
			</td>
		</tr>
	</template>
	<article class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<div class="modal-title">
					<h1 class="title" id="detail-name"></h1>
					<h2 class="subtitle" id="detail-major"></h2>
				</div>
				<button class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<div class="columns">
					{{!-- <div class="column"> --}}
						{{!-- <h4 class="title is-4">Career goals</h4> --}}
						{{!-- <p><strong>Looking for:</strong> <span id="detail-timeframe"></span></p> --}}
						{{!-- <p><strong>Comments:</strong> <span id="detail-timeframe-comments"></span></p> --}}
					{{!-- </div> --}}
					{{!-- <div class="column">
						<h4 class="title is-4">Interesting facts</h4>
						<p><strong>Favorite programming languages:</strong> <span id="detail-programming-languages"></span></p>
						<p><strong><span id="detail-fun-1"></span></strong> <span id="detail-fun-1-answer"></span></p>
						<p><strong><span id="detail-fun-2"></span></strong> <span id="detail-fun-2-answer"></span></p>
					</div> --}}
					<div class="column">
						<h4 class="title is-4">Your notes</h4>
						{{!-- <p><strong>Scanner:</strong> <span id="detail-scanner"></span></p> --}}
						<div class="side-by-side-flex">
							<strong>Tags:</strong>
							<div class="field is-grouped is-grouped-multiline" id="detail-tags"></div>
						</div>
						<p>
							<strong>Notes:</strong>
							<ul id="detail-notes"></ul>
						</p>
						<template id="note-actions">
							<button class="button is-small is-danger is-outlined detail-note-delete">
								<span class="icon is-small">
									<i class="fas fa-trash-alt"></i>
								</span>
							</button>
						</template>
					</div>
				</div>
				<iframe id="detail-resume"></iframe>
				<div class="modal-mobile-foot">
					<button class="button is-info is-fullwidth detail-add-visit">
						<span class="icon is-small">
							<i class="fas fa-plus"></i>
						</span>
						<span>Add to visits</span>
					</button>
					<button class="button is-warning is-fullwidth detail-star">
						<span class="icon is-small">
							<i class="fas fa-star"></i>
						</span>
						<span>Star</span>
					</button>
					<button class="button is-success is-fullwidth detail-flag">
						<span class="icon is-small">
							<i class="fas fa-flag"></i>
						</span>
						<span>Flag</span>
					</button>
					<button class="button is-info is-fullwidth detail-add-tag">
						<span class="icon is-small">
							<i class="fas fa-plus"></i>
						</span>
						<span>Add tag</span>
					</button>
					<button class="button is-dark is-fullwidth detail-add-note">
						<span class="icon is-small">
							<i class="fas fa-plus"></i>
						</span>
						<span>Add note</span>
					</button>
					<hr />
					<button class="button is-danger is-fullwidth detail-delete">
						<span class="icon is-small">
							<i class="fas fa-trash-alt"></i>
						</span>
						<span>Delete visit</span>
					</button>
				</div>
			</section>
			<footer class="modal-card-foot">
				<div class="buttons">
					<button class="button is-danger detail-delete">
						<span class="icon is-small">
							<i class="fas fa-trash-alt"></i>
						</span>
						<span>Delete visit</span>
					</button>
					<button class="button is-info detail-add-visit">
						<span class="icon is-small">
							<i class="fas fa-plus"></i>
						</span>
						<span>Add to visits</span>
					</button>

					<span class="spacer"></span>

					<button class="button is-info detail-add-tag">
						<span class="icon is-small">
							<i class="fas fa-plus"></i>
						</span>
						<span>Add tag</span>
					</button>
					<button class="button is-warning detail-star">
						<span class="icon is-small">
							<i class="fas fa-star"></i>
						</span>
						<span>Star</span>
					</button>
					<button class="button is-success detail-flag">
						<span class="icon is-small">
							<i class="fas fa-flag"></i>
						</span>
						<span>Flag</span>
					</button>
					<button class="button is-dark detail-add-note">
						<span class="icon is-small">
							<i class="fas fa-plus"></i>
						</span>
						<span>Add note</span>
					</button>

					<span class="spacer"></span>

					<button class="button" id="detail-close">Close</button>
				</div>
			</footer>
		</div>
	</article>
	<article class="message is-info toast">
		<div class="message-body">
			<span><span class="name"></span></span>
			<button class="button view">
				<span>View</span>
				<span class="icon">
					<i class="fas fa-external-link-alt"></i>
				</span>
			</button>
			<button class="delete"></button>
		</div>
	</article>
	<section id="scanning">
		<h1 class="title">Company Information</h1>
		{{!-- {{#ifCond user.company.scannerIDs.length 0}}
			<h2 class="subtitle">You aren't connected to a scanner! Head to the settings tab to configure a scanner.</h2>
		{{else}}
			{{#ifCond user.company.scannerIDs.length 1}}
				<h2 class="subtitle">You're connected to this scanner: <strong>{{join user.company.scannerIDs}}</strong></h2>
			{{else}}
				<h2 class="subtitle">You're connected to these scanners: <strong>{{join user.company.scannerIDs}}</strong></h2>
			{{/ifCond}}
		{{/ifCond}} --}}
		<h2 class="subtitle" id="company-name" data-company="{{../user.company.name}}"></h2>
		<p>Contact a HackGT Staff Member if you wish to change the information below!</p>
		<div class="side-by-side-flex">
			<div>
				<div class=""><b>About: </b><p id="company-about"></p></div>
				<div class=""><b>Website: </b><a id="company-website" target="_blank"></a></div>
				<div class=""><b>Event Information: </b><p id="company-eventInformation"></p></div>
				<div class=""><b>Challenge Information: </b><p id="company-challengeInformation"></p></div>
				<div class=""><b>Recruiting: </b><p id="company-recruiting"></p></div>
				<div class=""><b>Additional Info: </b><p id="company-additionalInfo"></p></div>
			</div>
			<div class="bluejeans">
				<button class="button"><a id="company-moderatorLink" target="_blank">Join Call as Moderator</a></p></button>
			</div>
		
		</div>
		<nav class="pagination">
			<a class="pagination-previous">Previous</a>
			<a class="pagination-next">Next page</a>
			<ul class="pagination-list">
				<li class="first-page" hidden>
					<a class="pagination-link">1</a>
				</li>
				<li class="first-page" hidden>
					<span class="pagination-ellipsis">&hellip;</span>
				</li>
				<li>
					<a class="pagination-link previous-page" hidden>45</a>
				</li>
				<li>
					<a class="pagination-link is-current">1</a>
				</li>
				<li>
					<a class="pagination-link next-page" hidden>47</a>
				</li>
				<li class="last-page" hidden>
					<span class="pagination-ellipsis">&hellip;</span>
				</li>
				<li class="last-page" hidden>
					<a class="pagination-link">86</a>
				</li>
			</ul>
		</nav>
		<br />
		<progress class="progress" max="100" hidden></progress>
		<div class="field is-grouped">
			{{!-- <p class="control">
				<a class="button is-primary">
					Submit
				</a>
			</p> --}}
			<span class="spacer"></span>
			<div class="control">
				<div class="dropdown is-hoverable">
					<div class="dropdown-trigger">
						<button class="button">
							<span class="icon is-small">
								<i class="fas fa-download"></i>
							</span>
							<span>Export...</span>
							<span class="icon is-small">
								<i class="fas fa-angle-down"></i>
							</span>
						</button>
					</div>
					<div class="dropdown-menu far-right">
						<div class="dropdown-content">
							<a class="dropdown-item download-selected zip">
								<span class="icon is-small">
									<i class="fas fa-file-archive"></i>
								</span>
								<span>Selected profiles as .zip</span>
							</a>
							<a class="dropdown-item download-selected csv">
								<span class="icon is-small">
									<i class="fas fa-file-csv"></i>
								</span>
								<span>Selected profiles as .csv</span>
							</a>
							{{!-- <hr class="dropdown-divider">
							<a class="dropdown-item download-scanned zip">
								<span class="icon is-small">
									<i class="fas fa-file-archive"></i>
								</span>
								<span>All profiles as .zip</span>
							</a>
							<a class="dropdown-item download-scanned csv">
								<span class="icon is-small">
									<i class="fas fa-file-csv"></i>
								</span>
								<span>All profiles as .csv</span>
							</a> --}}
							<hr class="dropdown-divider">
							<a class="dropdown-item download-all zip">
								<span class="icon is-small">
									<i class="fas fa-file-archive"></i>
								</span>
								<span>All HackGT profiles as .zip</span>
							</a>
							<a class="dropdown-item download-all csv">
								<span class="icon is-small">
									<i class="fas fa-file-csv"></i>
								</span>
								<span>All HackGT profiles as .csv</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-container">
			<table class="table is-hoverable is-fullwidth" id="scanning-table">
				<thead>
					<tr>
						<th></th>
						<th>Time</th>
						<th>Name</th>
						<th>Major</th>
						<th>Links</th>
						<th class="tags-column">Tags</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</section>
	<section id="search" hidden>
		<h1 class="title">Search</h1>
		<div class="control is-medium" id="search-control">
			<input class="input is-medium" type="text" placeholder="Search names, resume content, skills, etc." id="search-box">
		</div>
		<progress class="progress" max="100" hidden></progress>
		<div class="field is-grouped">
			<div class="control">
				<div class="dropdown is-hoverable">
					<div class="dropdown-trigger">
						<button class="button">
							<span class="icon is-small">
								<i class="fas fa-filter"></i>
							</span>
							<span>Filter by tags...</span>
							<span class="icon is-small">
								<i class="fas fa-angle-down"></i>
							</span>
						</button>
					</div>
					<div class="dropdown-menu">
						<div class="dropdown-content" id="filter-menu">
							<hr class="dropdown-divider">
							<a class="dropdown-item" id="filter-none">
								None
							</a>
						</div>
					</div>
				</div>
			</div>
			<span class="spacer"></span>
			<div class="control">
				<div class="dropdown is-hoverable">
					<div class="dropdown-trigger">
						<button class="button">
							<span class="icon is-small">
								<i class="fas fa-download"></i>
							</span>
							<span>Export...</span>
							<span class="icon is-small">
								<i class="fas fa-angle-down"></i>
							</span>
						</button>
					</div>
					<div class="dropdown-menu far-right">
						<div class="dropdown-content">
							<a class="dropdown-item download-selected zip">
								<span class="icon is-small">
									<i class="fas fa-file-archive"></i>
								</span>
								<span>Selected profiles as .zip</span>
							</a>
							<a class="dropdown-item download-selected csv">
								<span class="icon is-small">
									<i class="fas fa-file-csv"></i>
								</span>
								<span>Selected profiles as .csv</span>
							</a>
							{{!-- <hr class="dropdown-divider"> --}}
							{{!-- <a class="dropdown-item download-scanned zip">
								<span class="icon is-small">
									<i class="fas fa-file-archive"></i>
								</span>
								<span>All scanned profiles as .zip</span>
							</a>
							<a class="dropdown-item download-scanned csv">
								<span class="icon is-small">
									<i class="fas fa-file-csv"></i>
								</span>
								<span>All scanned profiles as .csv</span>
							</a> --}}
							{{!-- <hr class="dropdown-divider">
							<a class="dropdown-item download-all zip">
								<span class="icon is-small">
									<i class="fas fa-file-archive"></i>
								</span>
								<span>All HackGT profiles as .zip</span>
							</a>
							<a class="dropdown-item download-all csv">
								<span class="icon is-small">
									<i class="fas fa-file-csv"></i>
								</span>
								<span>All HackGT profiles as .csv</span>
							</a> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="pagination">
			<a class="pagination-previous">Previous</a>
			<a class="pagination-next">Next page</a>
			<ul class="pagination-list">
				<li class="first-page" hidden>
					<a class="pagination-link">1</a>
				</li>
				<li class="first-page" hidden>
					<span class="pagination-ellipsis">&hellip;</span>
				</li>
				<li>
					<a class="pagination-link previous-page" hidden>45</a>
				</li>
				<li>
					<a class="pagination-link is-current">1</a>
				</li>
				<li>
					<a class="pagination-link next-page" hidden>47</a>
				</li>
				<li class="last-page" hidden>
					<span class="pagination-ellipsis">&hellip;</span>
				</li>
				<li class="last-page" hidden>
					<a class="pagination-link">86</a>
				</li>
			</ul>
		</nav>
		<br />
		<div class="table-container">
			<table class="table is-hoverable is-fullwidth" id="search-table">
				<thead>
					<tr>
						<th></th>
						<th>Time</th>
						<th>Name</th>
						<th>Major</th>
						<th>Links</th>
						<th class="tags-column">Tags</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</section>
	<section id="settings" hidden>
		<div class="columns">
			<div class="column is-two-thirds is-offset-one-quarter">
				<h1 class="title">Employees</h1>
				<ul>
					{{#each this.users}}
						<li class="single-line-button">
							<span class="icon"><i class="fas fa-user-tie"></i></span>
							<strong>{{formatName this.name}}</strong> ({{this.email}})&nbsp;&nbsp;
							{{!-- <button class="button is-link is-outlined set-scanner" data-company="{{../user.company.name}}"
									data-email="{{this.email}}" data-scanners="{{join this.company.scannerIDs}}">Scanners</button> --}}
							{{#ifCond this.uuid ../user.uuid}}{{else}}
								<button class="button is-danger is-outlined remove-employee" data-company="{{../user.company.name}}" data-email="{{this.email}}">Remove</button>
							{{/ifCond}}
						</li>
					{{/each}}
				</ul>
				{{#if this.pendingUsers.length}}
					<br />
					<h5 class="title is-5">Pending employee requests</h5>
					<ul>
						{{#each this.pendingUsers}}
							<li class="single-line-button">
								<span class="icon"><i class="fas fa-user-clock"></i></span>
								<strong>{{formatName this.name}}</strong> ({{this.email}})
								<button class="button is-success is-outlined confirm-employee" data-company="{{../user.company.name}}"
									data-email="{{this.email}}">Confirm</button>
								<button class="button is-danger is-outlined remove-employee" data-company="{{../user.company.name}}" data-email="{{this.email}}">Delete</button>
							</li>
						{{/each}}
					</ul>
				{{/if}}
			</div>
		</div>
	</section>

	<br />
	<div class="field is-grouped is-grouped-centered">
		{{#if user.admin}}
		<p class="control">
			<a class="button is-medium" href="/admin">Admin Settings</a>
		</p>
		{{/if}}
		<p class="control">
			<a class="button is-medium" href="/logout">Log out</a>
		</p>
	</div>
{{/main}}
