{{#> main title="Home"}}
	{{#*inline "head-block"}}
		<script src="/js/common.js"></script>
		<script defer src="/js/index.js"></script>
		<style>
			iframe {
				height: 600px;
			}
			textarea.textarea {
				height: 300px;
			}
		</style>
	{{/inline}}
	<section class="columns">
		<div class="column is-three-fifths is-offset-one-fifth">
			<h1 class="title">Hello, {{formatName user.name}}!</h1>
			<h2 class="subtitle">{{user.email}}</h2>
			<p class="content">
				<ul>
					<li><strong>Name:</strong> {{participant.name}}</li>
					<li><strong>Email:</strong> {{participant.email}}</li>
					<li><strong>School:</strong> {{participant.school}}</li>
					<li><strong>Major:</strong> {{participant.major}}</li>
					<li><strong>Looking for:</strong> {{participant.lookingFor}}</li>
					<li><strong>Looking for (comments):</strong> {{participant.lookingForComments}}</li>
					<li><strong>Favorite programming languages:</strong> {{participant.favoriteLanguages}}</li>
					{{#if participant.fun1}}
						<li><strong>{{participant.fun1}}:</strong> {{participant.fun1Answer}}</li>
					{{/if}}
					{{#if participant.fun2}}
						<li><strong>{{participant.fun2}}:</strong> {{participant.fun2Answer}}</li>
					{{/if}}
				</ul>
			</p>
			<div class="content">
				{{#if participant.resume}}
					<strong>Resume:</strong>
					<iframe id="resume" data-path="{{participant.resume}}"></iframe>
					<div class="field">
						<div class="file is-centered has-name">
							<label class="file-label">
								<input class="file-input" type="file" id="resume-upload">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-file-upload"></i>
									</span>
									<span class="file-label">
										Update your resume
									</span>
								</span>
								<span class="file-name">
									No file selected
								</span>
							</label>
						</div>
					</div>

					<strong>Extracted resume content (used for searches):</strong>
					<textarea class="textarea" readonly id="resume-text">{{participant.resumeText}}</textarea>
				{{else}}
					<br />
					<article class="message is-danger">
						<div class="message-body">
							<p>You don't currently have a resume uploaded!</p>
							<p><strong>Reason:</strong> {{participant.resumeFailReason}}</p>
						</div>
					</article>
					<div class="field">
						<div class="file is-centered has-name">
							<label class="file-label">
								<input class="file-input" type="file" id="resume-upload">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-file-upload"></i>
									</span>
									<span class="file-label">
										Upload your resume
									</span>
								</span>
								<span class="file-name">
									No file selected
								</span>
							</label>
						</div>
					</div>
				{{/if}}
			</div>

			<br />
			<div class="field is-grouped is-grouped-centered">
				{{#if user.admin}}
					<p class="control">
						<a class="button is-medium" href="/admin">Admin Settings</a>
					</p>
				{{/if}}
				<p class="control">
					<a class="button is-medium" href="/logout">Log out</a>
				</p>
			</div>
		</div>
	</section>
{{/main}}
