{{#> main title="Home"}}
	{{#*inline "head-block"}}
		<script src="/js/common.js"></script>
		<script defer src="/js/index.js"></script>
		<style>
			iframe {
				height: 600px;
			}
			textarea.textarea {
				height: 300px;
			}
		</style>
	{{/inline}}
	<h1 class="title" style="text-align: center;">Hello, {{formatName user.name}}!</h1>
	<section class="columns">
		
		<div class="colum is-five-fifths is-offset-one-fifth" style="float: left;">
			<h2 class="subtitle">Sponsors</h1>
			<div id="sponsor-content"></div>
		</div>
		<div class="column is-one-fifths is-offset-one-fifth" style="float: right;">
			
			<h2 class="subtitle">Personal Information</h2>
			<p class="content">
				<ul>
					<li><strong>Name:</strong> {{participant.name}}</li>
					<li><strong>Email:</strong> {{participant.email}}</li>
					<li><strong>School:</strong> {{participant.university}}</li>
					<li><strong>Major:</strong> {{participant.major}}</li>
					{{#if participant.fun1}}
						<li><strong>{{participant.fun1}}:</strong> {{participant.fun1Answer}}</li>
					{{/if}}
					{{#if participant.fun2}}
						<li><strong>{{participant.fun2}}:</strong> {{participant.fun2Answer}}</li>
					{{/if}}
				</ul>
			</p>
			<div class="content">
				{{#if participant.resume}}
					<strong>Resume:</strong>
					<iframe id="resume" data-path="{{participant.resume}}"></iframe>
					<div class="field">
						<div class="file is-centered has-name">
							<label class="file-label">
								<input class="file-input" type="file" id="resume-upload">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-file-upload"></i>
									</span>
									<span class="file-label">
										Update your resume
									</span>
								</span>
								<span class="file-name">
									No file selected
								</span>
							</label>
						</div>
					</div>

					<strong>Extracted resume content (used for searches):</strong>
					<textarea class="textarea" readonly id="resume-text">{{participant.resumeText}}</textarea>
				{{else}}
					<br />
					<article class="message is-danger">
						<div class="message-body">
							<p>You don't currently have a resume uploaded!</p>
							<p><strong>Reason:</strong> {{participant.resumeFailReason}}</p>
						</div>
					</article>
					<div class="field">
						<div class="file is-centered has-name">
							<label class="file-label">
								<input class="file-input" type="file" id="resume-upload">
								<span class="file-cta">
									<span class="file-icon">
										<i class="fas fa-file-upload"></i>
									</span>
									<span class="file-label">
										Upload your resume
									</span>
								</span>
								<span class="file-name">
									No file selected
								</span>
							</label>
						</div>
					</div>
				{{/if}}
			</div>

			<br />
			<div class="field is-grouped is-grouped-centered">
				{{#if user.admin}}
					<p class="control">
						<a class="button is-medium" href="/admin">Admin Settings</a>
					</p>
				{{/if}}
				<p class="control">
					<a class="button is-medium" href="/logout">Log out</a>
				</p>
			</div>
		</div>
	</section>
	<article class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<div class="modal-title">
					<h1 class="title" id="sponsor-name"></h1>
				</div>
				<button class="delete" aria-label="close"></button>
			</header>
			<section class="modal-card-body">
				<div>
					<div class="side-by-side-flex"><b>About: </b><p id="company-about"></p></div>
					<div class="side-by-side-flex"><b>Website: </b><a id="company-website" target="_blank"></a></div>
					<div class="side-by-side-flex"><b>Event Information: </b><p id="company-eventInformation"></p></div>
					<div class="side-by-side-flex"><b>Challenge Information: </b><p id="company-challengeInformation"></p></div>
					<div class="side-by-side-flex"><b>Recruiting: </b><p id="company-recruiting"></p></div>
					<div class="side-by-side-flex"><b>Additional Info: </b><p id="company-additionalInfo"></p></div>
					<button class="button"><a id="company-participantLink" target="_blank">Join Call as Participant</a></p></button>
				</div>
			</section>
			<footer class="modal-card-foot">
				<div class="buttons">
					<button class="button" id="detail-close">Close</button>
				</div>
			</footer>
		</div>
	</article>
{{/main}}
